*{
    margin: 0;
    padding: 0;
    color: transparent;
    box-sizing: border-box;
}
body{
    background-color: #023;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.face{
    position: relative;
    height: 120px;
    width: 120px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}
.eye{
    flex: 3;
    margin: 8px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
}
.eye-1, .eye-2{
    position: relative;
    top: 22px;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eye-ball{
    position: relative;
    background-color: black;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    animation: updown 5s ease-in-out infinite;
}
.mouth-tongue{
    position: relative;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.mouth{
    position: relative;
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: black;
    z-index: 2;
}
.tongue{
    position: absolute;
    top: 0;
    height: 35px;
    width: 30px;
    border-bottom-left-radius: 10px 25px;
    border-bottom-right-radius: 10px 25px;
    background-color: #fd0102;
    z-index: 1;
    animation: in-out 5s ease-in-out infinite;
}
@keyframes updown{
    0%{
        transform: translate(0%);
    }
    20%{
        transform: translateX(50%);
    }
    40%{
        transform: translateX(0%);
        transform: translateY(50%);
    }
    60%{
        transform: translateX(-50%);
    }
    80%{
        transform: translateX(0%);
        transform: translateY(-50%);
    }
    100%{
        transform: translate(0%);
    }
}
@keyframes in-out{
    0%{
        height: 75%;
    }
    50%{
        height: 0%;
    }
    100%{
        height: 75%;
    }
}